<div class="container">
    <h2>Subir archivos</h2>
    <form action="/api/user/{{user._id}}/documents" method="POST" enctype="multipart/form-data">
        <input type="file" id="document" name="document" multiple>
        <br /><br />
        <button type="submit">Subir documentos de usuario</button>
    </form>
</div>
<script src="/static/js/uploadDocuments.js"></script>
